.split-row {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.split-col {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.gutter {
	background-color: var(--color-dark-layer-2);
	background-repeat: no-repeat;
	background-position: 50%;
}

.gutter.gutter-horizontal {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
	cursor: col-resize;
}

.gutter.gutter-horizontal:hover {
    background-color: var(--color-dark-blue-s);
}

.cm-scroller,
.cm-gutters {
	background-color: #282828 !important;
}
.cm-focused {
	outline: none !important;
}