.problem {
	width: 100%;
	height: 100%;
	margin-top: 20px;
}

.link {
	display: inline-block;
	border-radius: 5px 5px 0 0;
}

.active-link {
	background-color: var(--color-dark-layer-2);
	color: var(--color-dark-gray-8);
	display: inline-block;
	border-radius: 10px 10px 0 0;
}

.active-link:hover {
	background-color: var(--color-dark-fill-3);
	color: var(--color-dark-gray-6);
}

nav {
	background-color: var(--color-dark-layer-1);
	width: 100%;
	max-height: 50px;
	height: 100%;
	display: flex;
	align-items: end;
}

nav ul {
	list-style-type: none;
	display: flex;
	justify-content: left;
	align-items: end;
	margin: 0;
	padding: 0;
}

nav li {
	margin: 10px 15px 0;
}

nav a {
	color: var(--color-dark-gray-7);
	text-decoration: none;
	font-size: 18px;
	padding: 10px 15px 0 15px;
	border-radius: 5px;
	transition: background-color 0.3s ease;
}

nav a:hover {
	background-color: #555;
	color: #f1f1f1;
}

nav a.active {
	background-color: #007bff;
	color: white;
}
