/* Problem List Container */
.problemListContainer {
	width: 30rem;
	max-width: 960px;
	margin: 0 auto;
	background-color: var(--color-dark-layer-1);
	padding: var(--spacing-md);
	border-radius: var(--border-radius-md);
	list-style: none;
}

.tabNavigation {
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid var(--color-dark-divider-border-2);
	margin-bottom: var(--spacing-sm);
}

.tabButton {
	padding: var(--spacing-sm) var(--spacing-md);
	color: var(--color-dark-label-1);
	background: none;
	border: none;
	cursor: pointer;
	font-size: var(--font-size-small);
	font-weight: var(--font-weight-medium);
	transition: color 0.2s ease, border-color 0.2s ease;
}

.tabButton:hover {
	color: var(--color-dark-gray-7);
}

.tabButton.active {
	color: var(--color-dark-blue-s);
	border-bottom: 2px solid var(--color-dark-blue-s);
}

/* Problem List Styles */
.problemList {
	margin-top: var(--spacing-sm);
}

.problemItem {
	padding: 1rem var(--spacing-md);
	margin-bottom: 0;
	background-color: var(--color-dark-layer-1);
	border-radius: var(--border-radius-sm);
	cursor: pointer;
	transition: background-color 0.2s ease;
}

.problemItem:nth-child(odd) {
	background-color: var(--color-dark-layer-2);
}

.problemItem:nth-child(even) {
	background-color: var(--color-dark-layer-2);
}

.problemItem:hover {
	background-color: var(--color-dark-fill-2);
}

.problemLink {
	color: var(--color-dark-gray-6);
	text-decoration: none;
	font-weight: var(--font-weight-medium);
	transition: color 0.2s ease;
}

.problemLink:hover {
	color: var(--color-dark-blue-s);
}
