/* Problem List Container */
.problem-list-container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	background-color: var(--color-dark-layer-1);
	padding: var(--spacing-md);
	border-radius: var(--border-radius-md);
	list-style: none;
}

.tab-navigation {
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid var(--color-dark-divider-border-2);
	margin-bottom: var(--spacing-sm);
}

.tab-button {
	padding: var(--spacing-sm) var(--spacing-md);
	color: var(--color-dark-label-1);
	background: none;
	border: none;
	cursor: pointer;
	font-size: var(--font-size-small);
	font-weight: var(--font-weight-medium);
	transition: color 0.2s ease, border-color 0.2s ease;
}

.tab-button:hover {
	color: var(--color-dark-gray-7);
}

.tab-button.active {
	color: var(--color-dark-blue-s);
	border-bottom: 2px solid var(--color-dark-blue-s);
}

/* Problem List Styles */
.problem-list {
	margin-top: var(--spacing-sm);
}

.problem-item {
	padding: 1rem var(--spacing-md);
	margin-bottom: 0;
	background-color: var(--color-dark-layer-1);
	border-radius: var(--border-radius-sm);
	cursor: pointer;
	transition: background-color 0.2s ease;
}

.problem-item:nth-child(odd) {
	background-color: var(--color-dark-layer-2);
}

.problem-item:hover {
	background-color: var(--color-dark-fill-2);
}

.problem-link {
	color: var(--color-dark-gray-6);
	text-decoration: none;
	font-weight: var(--font-weight-medium);
	transition: color 0.2s ease;
}

.problem-link:hover {
	color: var(--color-dark-blue-s);
}
