.navbar {
	padding: 10px;
	display: flex;
	width: 100%;
	max-height: 70px;
}

.code-editor {
	margin-left: 10px;
}

.CodeEditor {
	flex: 1;
}

a {
	display: none;
}

.navbar select {
	flex: 1;
	text-align: end;
	height: 30px;
	align-items: center;
	margin: auto;
	padding: auto;
	border: none;
	outline: none;
    margin-right: 10px;

	border-radius: 10px;
}

.navbar select option {
	background-color: var(--color-dark-layer-2);
	color: var(--color-dark-gray-8);
}

.submit-button {
	margin: 10px;
	padding: 5px 15px;
	background-color: var(--color-dark-green-s);
}

.run-button {
    margin: 10px;
    padding: 5px 15px;
    background-color: var(--color-brand-orange);
}

.run-button:hover {
    background-color: var(--color-brand-orange-s);
	border-radius: 10px;
	scale: 1.1;
}

.submit-button:hover {
    background-color: var(--color-olive);
	border-radius: 10px;
	scale: 1.1;
}

.output {
	overflow-y: scroll;
	padding: 10px;
	min-width: 300px;
}

.output-header {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	background-color: var(--color-dark-layer-2);
	border-radius: 10px;
	padding: 10px;
}

.input {
	/* overflow-y: scroll;
    scrollbar-width: thin; */
	padding: 10px;
	min-width: 200px;
}

.input-header {
	display: flex;
	justify-content: left;
	padding: 10px;
	background-color: var(--color-dark-layer-2);
	border-radius: 10px;
	padding: 10px;
}

pre, textarea {
    border: 1px solid var(--color-dark-gray-8);
    border-radius: 4px;
    padding: 10px;
    height: 65%;
    overflow: auto;
}

pre , textarea  :hover{
    border: 1px solid var(--color-brand-orange);
}