.chat-component {
	display: flex;
	flex-direction: column;
	height: 38rem;
	padding: var(--spacing-md);
	min-width: 30rem;
}

.chat-messages {
	flex: 1;
	overflow-y: auto;
}

.chat-message {
	display: flex;
	gap: var(--spacing-md);
	justify-content: space-between;
	flex-direction: column;
	padding: var(--spacing-md);
}

.chat-header {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.sent .chat-header {
	flex-direction: row-reverse;
}

.chat-avatar {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.time {
	font-size: 0.8rem;
	color: var(--color-dark-gray-6);
}

.sent .chat-text {
	text-align: right;
}
