.chat-component {
	display: flex;
	flex-direction: column;
	height: 38rem;
	padding: var(--spacing-md);
	min-width: 30rem;
}

.chat-messages {
	flex: 1;
	overflow-y: auto;
}

.chat-message {
	display: flex;
	gap: var(--spacing-md);
	justify-content: space-between;
	flex-direction: column;
	padding: var(--spacing-md);
	border-bottom: 1px solid var(--color-dark-divider-border-2);
}

.chat-header {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.sent .chat-header {
	flex-direction: row-reverse;
}

.chat-avatar {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.time {
	font-size: 0.8rem;
	color: var(--color-dark-gray-6);
}

.chat-form {
	position: relative;
	overflow: hidden;
	top: 30px;
}

.chat-submit {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: var(--spacing-md);
	position: absolute;
	right: 2px;
	top: 2px;
	z-index: 100;
	transition: all 0.3s;
}

.chat-submit:active {
	transform: scale(0.8);
}
