.stats-card {
	background-color: var(--color-dark-layer-1);
	border-radius: var(--border-radius-md);
	padding: var(--spacing-md);
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	align-items: center;
}

.stats-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: var(--spacing-md);
	margin-bottom: var(--spacing-lg);
}

.stat-item h3 {
	font-size: var(--font-size-small);
	color: var(--color-dark-gray-6);
	margin-bottom: var(--spacing-xs);
}

.rating {
	font-size: var(--font-size-xl);
	color: var(--color-brand-orange);
}
